{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forgot Password</h1>

    {% if success %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
    <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
    {{ form_end(form) }}
        {% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{% endblock %}
