{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reset Password</h1>

    {{ form_start(form) }}
        {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.password, { 'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endblock %}
