{% extends 'base.html.twig' %}

{% block title %}AchatPacks{% endblock %}

{% block body %}
    <h1>AchatPacks</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ achat_pack.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ achat_pack.Date ? achat_pack.Date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PackName</th>
                <td>{{ achat_pack.PackName }}</td>
            </tr>
            <tr>
                <th>PaquetName</th>
                <td>{{ achat_pack.PaquetName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_achat_packs_index') }}">back to list</a>

    <a href="{{ path('app_achat_packs_edit', {'id': achat_pack.id}) }}">edit</a>

    {{ include('achat_packs/_delete_form.html.twig') }}
{% endblock %}
