{% extends 'base.html.twig' %}
{% block title %}Product index{% endblock %}

{% block body %}
    <h1><center>All products for rent</center></h1>
    <br>
    <br>
<div class="table-responsive">
    <table class="table table-primary align-middle">
        <thead class="table table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nomproduit }}</td>
                <td>{{ produit.prixproduit }}</td>
                <td>{{ produit.dateproduit ? produit.dateproduit|date('Y-m-d') : '' }}</td>
                <td>{{ produit.type }}</td>
                <td>
                    <a class ="btn btn-primary" href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a class ="btn btn-primary" href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}"><h5>List new product</a>
{% endblock %}
