
{% block title %}Posts{% endblock %}

{# {% block javascripts %}
<script src="{{ asset('/assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ asset('/assets/vendor/aos/aos.js') }}"></script>
<script src="{{ asset('/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
<script src="{{ asset('/assets/vendor/php-email-form/validate.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
{% block stylesheets %}
<link href="{{ asset('/assets/img/favicon.png') }}" rel="icon">
<link href="{{ asset('/assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{{ asset('/assets/vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ asset('/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ asset('/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ asset('/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ asset('/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{{ asset('/assets/css/style.css') }}" rel="stylesheet">
{% endblock %} #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="row  align-middle">






</div>
</div>
<div  class="blog mt-6">
      <div class="container" >

        <div class="row">

          <div class="col-lg-8 entries">
            {% for post in posts %}
            <article class="entry">
              
              <div class="entry-img">
              {% if post.image %}
              <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Post Image">
              {% endif %}
                {# <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="" class="img-fluid"> #}
              </div>

              <h2 class="entry-title">
                <a href="{{ path('app_post_show', {'id': post.id}) }}">{{post.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{{ path('app_post_show', {'id': post.id}) }}">{{post.username}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-hourglass-bottom"></i> <a href="{{ path('app_post_show', {'id': post.id}) }}"><time >{{ post.getElapsedTime()}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{{ path('app_post_show', {'id': post.id}) }}">{{post.comments|length}} Comments</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{{ path('app_post_show', {'id': post.id}) }}"><time >{{ post.createdat ? post.createdat|date('Y-m-d') : '' }}</time></a></li>

                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{post.content}}
                </p>
                <div class="read-more">
                  <a href="{{ path('app_post_show', {'id': post.id}) }}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}
           

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">General <span>(25)</span></a></li>
                  <li><a href="#">Lifestyle <span>(12)</span></a></li>
                  <li><a href="#">Travel <span>(5)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="{{ asset('assets/img/blog/blog-recent-1.jpg') }}" alt="">
                  <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{{ asset('assets/img/blog/blog-recent-2.jpg') }}" alt="">
                  <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{{ asset('assets/img/blog/blog-recent-3.jpg') }}" alt="">
                  <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{{ asset('assets/img/blog/blog-recent-4.jpg') }}" alt="">
                  <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{{ asset('assets/img/blog/blog-recent-5.jpg') }}" alt="">
                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </div><!-- End Blog Section -->
</div>
  <!-- End #main -->
{% endblock %}