  <li class="">
    {{ form_start(showAllForm) }}
    {# <label for="{{ showAllForm.nbr.vars.id }}">{{ showAllForm.nbr.vars.label }}</label> #}
    {# {{ form_widget(showAllForm.nbr) }} #}
    {{ form_end(showAllForm) }}
</li> 
