<div class="container">
<table>
{{ form_start(form,{'atr':{'novalidate':'novalidate'}}) }}
<tr>
<div class="mb-3">
    <td>{{ form_label(form.IDproduit,"IDproduit:") }}</td>
    <td>{{ form_widget(form.IDproduit,{'atr':{'class':'form-control'}}) }}</td>
    <td>{% if form_errors(form.IDproduit) is not empty %}</td>
    <div class="alert alter-danger"
    <td>{{ form_errors(form.IDproduit) }}</td>
    </div>
</tr>
    {% endif %}
</div>
<tr>
<div class="mb-3">
    <td>{{ form_label(form.IDClient,"IDClient:") }}</td>
    <td>{{ form_widget(form.IDClient,{'atr':{'class':'form-control'}}) }}</td>
    <td>{% if form_errors(form.IDClient) is not empty %}</td>
    <div class="alert alter-danger"
    <td>{{ form_errors(form.IDClient) }}</td>
    </div>
</tr>
    {% endif %}
</div>
<tr>
<div class="mb-3">
    <td>{{ form_label(form.nomproduit,"Product Name:") }}</td>
    <td>{{ form_widget(form.nomproduit,{'atr':{'class':'form-control'}}) }}</td>
    <td>{% if form_errors(form.nomproduit) is not empty %}</td>
    <div class="alert alter-danger"
    <td>{{ form_errors(form.nomproduit) }}</td>
    </div>
</tr>
    {% endif %}
</div>
<tr>
<div class="input-group mb-3">
    <td>{{ form_label(form.prixproduit,"Product Price:") }}</td>
    <td>{{ form_widget(form.prixproduit,{'atr':{'class':'input-group mb-3'}}) }}</td>
    <td><span class="input-group-text">TND</span>
    <td>{% if form_errors(form.prixproduit) is not empty %}</td>
    <div class="alert alter-danger"
    <td>{{ form_errors(form.prixproduit) }}</td> </div>
    {% endif %}
    </tr>
</div>
<tr>
<div class="input-group mb-3">
    <td>{{ form_label(form.TVA,"TVA %:") }}</td>
    <td>{{ form_widget(form.TVA,{'atr':{'class':'input-group mb-3'}}) }}</td>
    <td><span class="input-group-text">TND</span>
    <td>{% if form_errors(form.TVA) is not empty %}</td>
    <div class="alert alter-danger"
    <td>{{ form_errors(form.TVA) }}</td> </div>
    {% endif %}
    </tr>
</div>
<tr>
<div class="input-group mb-3">
    <td>{{ form_label(form.totalfacture,"Total:") }}</td>
    <td>{{ form_widget(form.totalfacture,{'atr':{'class':'input-group mb-3'}}) }}</td>
    <td><span class="input-group-text">TND</span>
    <td>{% if form_errors(form.totalfacture) is not empty %}</td>
    <div class="alert alter-danger"
    <td>{{ form_errors(form.totalfacture) }}</td> </div>
    {% endif %}
    </tr>
</div>
<tr>
<div class="mb-3">
    <td>{{ form_label(form.IDLocataire,"IDLocataire:") }}</td>
    <td>{{ form_widget(form.IDLocataire,{'atr':{'class':'mb-3'}}) }}</td>
    <td>{% if form_errors(form.IDLocataire) is not empty %}</td>
    <div class="alert alter-danger"
   <td> {{ form_errors(form.IDLocataire) }}</td> </div>
    {% endif %}
 </tr>
</div>
<tr>
<div class="mb-3">
    <td>{{ form_label(form.DateFacture,"Bill Date:") }}</td>
    <td>{{ form_widget(form.DateFacture,{'atr':{'class':'mb-3'}}) }}</td>
    <td>{% if form_errors(form.DateFacture) is not empty %}</td>
    <div class="alert alter-danger"
   <td> {{ form_errors(form.DateFacture) }}</td> </div>
    {% endif %}
 </tr>
</div>
<tr>
<div class="mb-3">
    <td>{{ form_label(form.Adressfacture,"Billing Adress:") }}</td>
    <td>{{ form_widget(form.Adressfacture,{'atr':{'class':'form-control'}}) }}</td>
    <td>{% if form_errors(form.Adressfacture) is not empty %}</td>
    <div class="alert alter-danger"
    <td>{{ form_errors(form.Adressfacture) }}</div></td>
    {% endif %}
 </tr>
</div>
</table>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>