{% extends 'base2.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>{{ user.email }}</td>
                <td>*****</td>
                                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>

                 <td>
            {% if user.banned %}
<span class="badge badge-success" style="color: red;">Banned</span>
            {% else %}
<span class="badge badge-success" style="color: green;">Active</span>
            {% endif %}
        </td>
        
        <td>
<form action="{{ path('admin_ban_user') }}" method="post">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <button type="submit" class="btn btn-sm {% if user.banned %}btn-success{% else %}btn-danger{% endif %}">
        {% if user.banned %}Unban{% else %}Ban{% endif %}
    </button>
</form>
        </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#     <h1>stat</h1> 
    <div class="container">
 <canvas id="categories" width="400" height="100"></canvas>
 </div> 
 #}{#     {% if isPaginated %}
    <div class="row mt-2">
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page != 1 %}

    <li class="page-item"><a class="page-link" href="{{ path('app_user_index',{page: page - 1, 'nbre': nbre})}}">PREVIOUS</a></li>
         {% endif %}

    {% for i in range (1,nbrePage) %}
    <li class="page-item"><a class="page-link" href="{{ path('app_user_index',{page:i, 'nbre': nbre})}}">{{ i }}</a></li>
    {% endfor %}
      {% if page != nbrePage %}

    <li class="page-item"><a class="page-link" href="{{ path('app_user_index',{page: page + 1, 'nbre': nbre})}}">NEXT</a></li>
         {% endif %}
  </ul>
</nav>
    </div>
{% endif %}
 #}  
 
{#  {% block javascripts %}

           
<script>
    let categories = document.querySelector("#categories")
    let categGraph = new Chart(categories, {
        type: "doughnut",
        data: {
            labels: {{ Roles|raw }},
            datasets: [{
                label: "Répartition des catégories",
                data: {{ nbr|raw }},
                
            backgroundColor: [
                '#FF6384',
                '#36A2EB',
                '#FFCE56',
                '#4BC0C0',
                '#E7E9ED',
                '#FF9F40',
                '#8E5EA2',
                '#3e95cd',
                '#8e5ea2',
                '#3cba9f',
                '#e8c3b9',
                '#c45850'
            ]
            }]
            
        }
        
    })

   
</script>
{% endblock %}
 #} <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
