<div class="container">
	{{ form_start(form , {'attr':{'novalidate':'novalidate'}}) }}
	<div class="form-group">
		{{ form_label(form.title," Please Enter The Charity Title")  }}
		{{ form_widget(form.title , {'attr':{'class':'form-control'} }) }}
		{% if form_errors(form.title) is not empty %}
			<div class="alert alert-danger">
				{{ form_errors(form.title) }}
			</div>
		{% endif %}
	</div>
	<div class="form-group">
		{{ form_label(form.receiver," Please Enter The Receiver Name")  }}
		{{ form_widget(form.receiver , {'attr':{'class':'form-control'} }) }}
		{% if form_errors(form.receiver) is not empty %}
			<div class="alert alert-danger">
				{{ form_errors(form.receiver) }}
			</div>
		{% endif %}
	</div>
	<div class="form-group">
		{{ form_label(form.pointsdemanded,"Please Enter Your Points Demanded")  }}
		{{ form_widget(form.pointsdemanded , {'attr':{'class':'form-control'} }) }}
		{% if form_errors(form.pointsdemanded)is not empty %}
			<div class="alert alert-danger">
				{{ form_errors(form.pointsdemanded) }}
			</div>
		{% endif %}
	</div>
	<div class="form-group">
		{{ form_label(form.datedemand,"Please Enter The Date")  }}
		{{ form_widget(form.datedemand , {'attr':{'class':'form-control'} }) }}
		<div class="alert alert-danger">
			{{ form_errors(form.datedemand) }}
		</div>
	</div>
	{# <div class="form-group">
		{{ form_label(form.username,"Please Choose The UserName")  }}
		{{ form_widget(form.username , {'attr':{'class':'form-control'} }) }}
		{{ form_errors(form.username) }}
	</div> #}
	<div class="form-group">
		{{ form_label(form.category,"Please Choose The Categorie")  }}
		{{ form_widget(form.category , {'attr':{'class':'form-control'} }) }}
		{{ form_errors(form.category) }}
	</div>

	<br>
	<button class="btn btn-primary text-white py-3 px-4">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
</div>
