<!-- /*
* Template Name: Property
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Rent Rewards
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
		<link rel="stylesheet href=" {{ asset('build/app.css')}} " />
			    <link rel=" shortcut icon" href=" {{ asset('favicon.png')}} "/>
			    <link rel=" preconnect" href=" https://fonts.googleapis.com"/>
			    <link rel=" preconnect" href=" https://fonts.gstatic.com" crossorigin />
			    <link
			      href=" https://fonts.googleapis.com/css2?family="Work+Sans:wght@400;500;600;700&display=swap"
			      rel="" stylesheet"/>
			    <link rel=" stylesheet" href=" {{ asset('fonts/icomoon/style.css') }} " />
			    <link rel=" stylesheet" href=" {{ asset('fonts/flaticon/font/flaticon.css') }} " />
			    <link rel=" stylesheet" href=" {{ asset('css/tiny-slider.css') }} " />
			    <link rel=" stylesheet" href=" {{ asset('css/aos.css') }} " />
			    <link rel=" stylesheet" href=" {{ asset('css/style.css') }}>
		" />
        {% endblock %}

        {% block javascripts %}
    <script src=" {{ asset('js/bootstrap.bundle.min.js') }} "
		</head>
	</html>
</script>
<script src="{{ asset('js/tiny-slider.js') }}"></script>
<script src="{{ asset('js/aos.js') }}"></script>
<script src="{{ asset('js/navbar.js') }}"></script>
<script src="{{ asset('js/counter.js') }}"></script>
<script src="{{ asset('js/custom.js') }}"></script>{% endblock %}</head><body><div class="site-mobile-menu site-navbar-target">
<div class="site-mobile-menu-header">
	<div class="site-mobile-menu-close">
		<span class="icofont-close js-menu-toggle"></span>
	</div>
</div>
<div class="site-mobile-menu-body"></div></div><nav class="site-nav">
<div class="container">
	<div class="menu-bg-wrap">
		<div class="site-navigation">
			<a href="index.html" class="logo m-0 float-start">RentRewards</a>

			<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
				<li class="has-children">
					<a href="produit">Products</a>
					<ul class="dropdown">
						<li>
							<a href="#">Rent Products</a>
						</li>
						<li>
							<a href="#">Explore Services</a>
						</li>
						<li class="has-children">
							<a href="#">Dropdown</a>
							<ul class="dropdown">
								<li>
									<a href="#">Sub Menu One</a>
								</li>
								<li>
									<a href="#">Sub Menu Two</a>
								</li>
								<li>
									<a href="#">Sub Menu Three</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-children">
					<a href="produit">Community</a>
					<ul class="dropdown">
						<li>
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">Complain Center</a>
						</li>
						<li class="has-children">
							<a href="#">Dropdown</a>
							<ul class="dropdown">
								<li>
									<a href="#">Sub Menu One</a>
								</li>
								<li>
									<a href="#">Sub Menu Two</a>
								</li>
								<li>
									<a href="#">Sub Menu Three</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="dashboard/index.html">Rewards</a>
				</li>
				<li>
					<a href="dashboard/index.html">About</a>
				</li>
				<li class="has-children">
					<a href="charityhome.html">Charity</a>
					<ul class="dropdown">
						<li>
							<a href="/charity/demand/new">demande
								                                        charity</a>
						</li>
						<li>
							<a href="/donation/new">donation</a>
						</li>

					</ul>
				</li>
				<li>
					<a href="dashboard/index.html">Login</a>
				</li>
			</ul>

			<a href="#" class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none" data-toggle="collapse" data-target="#main-navbar">
				<span></span>
			</a>
		</div>
	</div>
</div></nav><div class="hero page-inner overlay" style="background-image: url('images/charity1.jpeg')">
<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-9 text-center mt-5">
			<h1 class="heading" data-aos="fade-up">Charity
			</h1>

			<nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
				<ol class="breadcrumb text-center justify-content-center">
					<li class="breadcrumb-item">
						<a href="index.html">Home</a>
					</li>
					<li class="breadcrumb-item active text-white-50" aria-current="page">
						charity
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div></div>{% block body %}<div class="section">
<div class="calendrier"></div></div><div class="section">
<div class="container">
	<div class="row mb-5 align-items-center">
		<div class="col-lg-6">
			<h2 class="font-weight-bold text-primary heading">
				Popular charities
			</h2>
		</div>
		<div class="col-lg-6 text-lg-end">
			<p>
				<a href="/charity/demand/view" target="_blank" class="btn btn-primary text-white py-3 px-4">View
					                            all charities</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="property-slider-wrap">
				<div class="property-slider">
					<div class="property-item">
						<a href="property-single.html" class="img">
							<img src="images/donation1.jpeg" alt="Image" class="img-fluid"/>
						</a>

						<div class="property-content">
							<div class="price mb-2">
								<span>10000 points
								</span>
							</div>
							<div>
								<span class="d-block mb-2 text-black-50">Please help syrrian people</span>
								<span class="city d-block mb-3">society amall
								</span>


								<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
							</div>
						</div>
					</div>
					<!-- .item -->
					<div class="property-item">
						<a href="property-single.html" class="img">
							<img src="images/donation1.jpeg" alt="Image" class="img-fluid"/>
						</a>

						<div class="property-content">
							<div class="price mb-2">
								<span>10000 points
								</span>
							</div>
							<div>
								<span class="d-block mb-2 text-black-50">Please help syrrian people</span>
								<span class="city d-block mb-3">society amall
								</span>


								<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
							</div>
						</div>
					</div>
					<!-- .item -->

					<div class="property-item">
						<a href="property-single.html" class="img">
							<img src="images/donation1.jpeg" alt="Image" class="img-fluid"/>
						</a>

						<div class="property-content">
							<div class="price mb-2">
								<span>10000 points
								</span>
							</div>
							<div>
								<span class="d-block mb-2 text-black-50">Please help syrrian people</span>
								<span class="city d-block mb-3">society amall
								</span>


								<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
							</div>
						</div>
					</div>
					<!-- .item -->

					<div class="property-item">
						<a href="property-single.html" class="img">
							<img src="images/donation1.jpeg" alt="Image" class="img-fluid"/>
						</a>

						<div class="property-content">
							<div class="price mb-2">
								<span>10000 points
								</span>
							</div>
							<div>
								<span class="d-block mb-2 text-black-50">Please help syrrian people</span>
								<span class="city d-block mb-3">society amall
								</span>


								<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
							</div>
						</div>
					</div>
					<!-- .item -->

					<div class="property-item">
						<a href="property-single.html" class="img">
							<img src="images/donation1.jpeg" alt="Image" class="img-fluid"/>
						</a>

						<div class="property-content">
							<div class="price mb-2">
								<span>10000 points
								</span>
							</div>
							<div>
								<span class="d-block mb-2 text-black-50">Please help syrrian people</span>
								<span class="city d-block mb-3">society amall
								</span>


								<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
							</div>
						</div>
					</div>
					<!-- .item -->
					<div class="property-item">
						<a href="property-single.html" class="img">
							<img src="images/donation1.jpeg" alt="Image" class="img-fluid"/>
						</a>

						<div class="property-content">
							<div class="price mb-2">
								<span>10000 points
								</span>
							</div>
							<div>
								<span class="d-block mb-2 text-black-50">Please help syrrian people</span>
								<span class="city d-block mb-3">society amall
								</span>


								<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
							</div>
						</div>
					</div>
					<!-- .item -->

					<div class="property-item">
						<a href="property-single.html" class="img">
							<img src="images/donation1.jpeg" alt="Image" class="img-fluid"/>
						</a>

						<div class="property-content">
							<div class="price mb-2">
								<span>10000 points
								</span>
							</div>
							<div>
								<span class="d-block mb-2 text-black-50">Please help syrrian people</span>
								<span class="city d-block mb-3">society amall
								</span>


								<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
							</div>
						</div>
					</div>
					<!-- .item -->

					<div class="property-item">
						<a href="property-single.html" class="img">
							<img src="images/donation1.jpeg" alt="Image" class="img-fluid"/>
						</a>

						<div class="property-content">
							<div class="price mb-2">
								<span>10000 points
								</span>
							</div>
							<div>
								<span class="d-block mb-2 text-black-50">Please help syrrian people</span>
								<span class="city d-block mb-3">society amall
								</span>


								<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
							</div>
						</div>
					</div>
				</div>

				<div id="property-nav" class="controls" tabindex="0" aria-label="Carousel Navigation">
					<span class="prev" data-controls="prev" aria-controls="property" tabindex="-1">Prev</span>
					<span class="next" data-controls="next" aria-controls="property" tabindex="-1">Next</span>
				</div>
			</div>
		</div>
	</div>
</div></div><!-- /.untree_co-section --><div class="site-footer">
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="widget">
				<h3>Contact</h3>
				<address>esprit engenieer aryanah , tunisia
				</address>
				<ul class="list-unstyled links">
					<li>
						<a href="tel://11234567890">+216 11 222 333</a>
					</li>
					<li>
						<a href="tel://11234567890">+216 11 222 333</a>
					</li>
					<li>
						<a href="mailto:info@mydomain.com">info@RentRewards.com</a>
					</li>
				</ul>
			</div>
			<!-- /.widget -->
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<div class="widget">
				<h3>Sources</h3>
				<ul class="list-unstyled float-start links">
					<li>
						<a href="#">About us</a>
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">Vision</a>
					</li>
					<li>
						<a href="#">Mission</a>
					</li>
					<li>
						<a href="#">Terms</a>
					</li>
					<li>
						<a href="#">Privacy</a>
					</li>
				</ul>
				<ul class="list-unstyled float-start links">
					<li>
						<a href="#">Partners</a>
					</li>
					<li>
						<a href="#">Business</a>
					</li>
					<li>
						<a href="#">Careers</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">FAQ</a>
					</li>
					<li>
						<a href="#">Creative</a>
					</li>
				</ul>
			</div>
			<!-- /.widget -->
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<div class="widget">
				<h3>Links</h3>
				<ul class="list-unstyled links">
					<li>
						<a href="#">Our Vision</a>
					</li>
					<li>
						<a href="#">About us</a>
					</li>
					<li>
						<a href="#">Contact us</a>
					</li>
				</ul>

				<ul class="list-unstyled social">
					<li>
						<a href="">
							<span class="icon-instagram"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-twitter"></span>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/profile.php?id=100090544447986">
							<span class="icon-facebook"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-linkedin"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-pinterest"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-dribbble"></span>
						</a>
					</li>
				</ul>
			</div>
			<!-- /.widget -->
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->

	<div class="row mt-5">
		<div
			class="col-12 text-center">
			<!-- 
			              **==========
			              NOTE: 
			              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
			              **==========
			            -->

			<p>
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				. All Rights Reserved. &mdash; Designed with love by
				<a href="https://untree.co">Untree.co</a>
				<!-- License information: https://untree.co/license/ -->
			</p>
			<div>
				Distributed by
				<a href="https://themewagon.com/" target="_blank">themewagon</a>
			</div>
		</div>
	</div>
</div>
<!-- /.container --></div><!-- /.site-footer --><!-- Preloader --><div id="overlayer"></div><div class="loader">
<div class="spinner-border" role="status">
	<span class="visually-hidden">Loading...</span>
</div></div><script src="js/bootstrap.bundle.min.js"></script><script src="js/tiny-slider.js"></script><script src="js/aos.js"></script><script src="js/navbar.js"></script><script src="js/counter.js"></script><script src="js/custom.js"></script></body></html>
