{% extends 'base.html.twig' %}

{% block title %}here we can view all charities you need to donate
{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

	{# 	<div class="container">
									<div class="row mb-5 align-items-center">
										<div class="col-lg-6">
											<h2 class="font-weight-bold text-primary heading">
												<center>All Charities</center>
							
							
											</h2>
										</div>
							
									</div>
							
									{% for charity_demand in charity_demands %}
							
											<div class="section">
												<div class="row">
													<div class="col-12">
														<div class="property-slider-wrap">
															<div class="property-slider">
																<div class="property-item">
																	<img src="{{ asset('/uploads/images/' ~ charity_demand.FileUpload) }}" style="width: 20%; height: auto;">
																	<br>
							
																</a>
																<div class="price mb-2"></div>
																<div class="property-content">
																	<div class="price mb-2">
																		<span>{{charity_demand.pointsdemanded}}
																		</span>
																	</div>
																	<div>
																		<span class="d-block mb-2 text-black-50">{{charity_demand.title}}</span>
																		<span class="city d-block mb-3">{{charity_demand.receiver}}
																		</span>
							
																		<br>
																		<form id="donate-form" method="post" action="{{ path('app_charity_demand_todonate', {'id': charity_demand.id}) }}">
																			<input type="hidden" name="donate" value="true">
																			<button type="submit" class="btn btn-primary text-white py-3 px-4">Donate this item</button>
																		</form>
																	</a>
																</div>
															</div>
							
														</div>
													</div>
							
												</div>
											</div>
										  </div>
									   
							
								    {% else %}
									 <div>
										<div style="border: 1px solid black; padding: 10px;">
											<center>No Records Founds.</center>
										</div>
									 </div>
								    {% endfor %}
							
								<div class="section">
									<div id="property-nav" class="controls" tabindex="0" aria-label="Carousel Navigation">
										<span class="prev" data-controls="prev" aria-controls="property" tabindex="-1">Prev</span>
										<span class="next" data-controls="next" aria-controls="property" tabindex="-1">Next</span>
									</div>
								</div>
							 #}
	<div class="container">

		
				{% for charity_demand in charity_demands %}
					
						<figure>
							<img src="{{ asset('/uploads/images/' ~ charity_demand.FileUpload) }}" style="width: 20%; height: auto;" alt="">
							<figcaption>
								<br>
								<span class="d-block mb-2 text-black-50">{{charity_demand.title}}</span>
								<br>
								<span class="city d-block mb-3">{{charity_demand.receiver}}</span>
								<br>
								<span class="city d-block mb-3">{{charity_demand.receiver}}</span>
								<br>
								<span>{{charity_demand.pointsdemanded}}</span>
							</figcaption>
						</figure>
						<form id="donate-form" method="post" action="{{ path('app_charity_demand_todonate', {'id': charity_demand.id}) }}">
							<input type="hidden" name="donate" value="true">
							<button type="submit" class="btn btn-primary text-white py-3 px-4">Donate this item</button>
						</form>
					


					{% else %}
				{% endfor %}
			
	</div>
{% endblock %}
